:root{
	--main-bg-color: #222222;							/* background-color of web page: light grey */
	--main-padding: 2.5em 2.5em 2em 2.5em;				/* global padding */
	--main-font-family: 'Droid Sans', sans-serif;		/* font family: sans serif */
	--h1-font-family: 'Cinzel Decorative', serif;		/* font family: serif */
	--text-font-size: 16px;								/* font size of main text */
	--button-font-size: 12px;							/* font size of button and info text */
	--h1-font-size: 24px;								/* font size of title in main text */
	--font-weight: 200;									/* font-weight of main text */
	--main-font-color: #FFFFFF;							/* font color of texts: black */
}


body {
	background: var( --main-bg-color );
	font-family: var( --main-font-family );
	font-weight: var( --font-weight );
	font-size: var( --button-font-size );
	color: var( --main-font-color );
	margin:0px;
}
h1 {
	font-family: var( --h1-font-family );
	font-weight: var( --font-weight );
	font-size: var( --h1-font-size );
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	position:absolute;
	top:1em;
	left:5%;
	z-index:10;
}
#introText {
	font-family: var( --main-font-family );
	font-weight: var( --font-weight );
	font-size: var( --text-font-size );
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	width:30%;
	position:absolute;
	top:6em;
	left:5%;
	z-index:10;
}
#div1 {
	margin-left:5%;
	margin-top: 2em;
}
#btSurfaceVoxels {
	position: absolute;
	left: 50%; 
	transform: translate(-50%, 0)
}
#btVectors {
	position: absolute;
	right: 5%;
}

#canvasWrapper {
	height: 250px;
}

#c1{
	zoom: 300%;
	margin-left: 0em;
	margin-top: 1em;
}

#c2{
	zoom: 300%;
	margin-top: 1em;
	position: absolute;
	left: 50%; 
	transform: translate(-50%, 0)
}

#c3{
	zoom: 300%;
}

#c4{
	zoom: 300%;
}






#slider1, #slider2 {
	-webkit-appearance: none;
	border-width: 0.1px !important;
	border: 0px solid;
	border-radius: 25px;
	width: 300px;
	height: 1px !important;
	outline: none;
	position: absolute;
	margin-top: 15px;
	margin-bottom: 70px;
	background-color: #EEEEEE;
}
#slider2 {
	position: absolute;
	left: 50%; 
	transform: translate(-50%, 0)
}

/*
.tooltip {
	position: absolute;
	display: block;
	top: -25px;
	width: 35px;
	height: 20px;
	color: #fff;
	text-align: center;
	font: 10pt Tahoma, Arial, sans-serif ;
	border-radius: 3px;
	border: 1px solid #333;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
	box-sizing: border-box;
	background: linear-gradient(top, rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
}

.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('images/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	top: -7px;
	margin-left: -12px;
}

.ui-slider-range {
	background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}
*/

